@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Splitting login page to two sections via grid */
.loginMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

/* Styling leftside and title */
.loginLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.loginTitle {
  color: #297373;
  margin: auto;
  font-family: 'Roboto', sans-serif
}

#logTitle{
  font-size: 80px;
}

#logSub{
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  #logTitle {
    font-size: 50px;
  }

  #logSub{
    font-size: 20px;
  }
}

#loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height:60%;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:50%;
}

/*---------------------------*/

/* Vertically centering login form  */
.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  display: flex;
  flex-direction: column;
  width:80%;
}

#loginBtn{
  height:50px;
  width:150px;
  border:none;
  background:rgb(138, 199, 209, 0.592);
  border-radius:5px;
  color:#000000;
  font-size:1.2em;
  font-weight:500;
}

#resetBtn{
  border:none;
  background-color: transparent;
  color:#297373;
  font-weight: bold;
  text-decoration: underline;
}

#loginBtn:hover{
  background-color:#297373a2
}

#alertMsg{
  color:red;
  font-weight: bold;
}

#viewPassword{
  border:none;
  background-color: transparent;
  float: right;
  width:10%;
}